nav {
    background-color: rgb(235, 230, 230);
    height:80px;
    
}

nav li {
    display: inline-block;
}

.submit{
    background-color: yellow;
    padding:20px;
    color:black;
    font-family: 'Turret Road', cursive;
}

.navbar-body {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: bold;
}

#hint_id_password1 {
    display:none;
}

#hint_id_username {
    display:none;
}
#hint_id_password2 {
    display:none;
}

textinput.id_username:before {
    content: "username";
}
.asteriskField {
    display: none;
}