{%extends 'base.html'%}
{%block content%}
{{block.super}}

<div class="container">
<div class="row">
        {%for project in projects %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{project.user.profile.image}}">
        <div class="media-body">
            <div class="article-metadata">
                <img src="{{project.photo.url}}" width="500px" height="300px">
                <a class="mr-2" href="#">{{project.user}}</a>
                <small class="text-muted">{{project.date_posted|date:"F d, Y"}}</small>
            </div>
            <a class="article-title" href="{%url 'project-detail' project.id%}">{{project.link}}</a>
            <p class="article-content">{{project.description}}</p>
        </div>
    </article>
    {%endfor%}

</div>
</div>


{%endblock%}


